.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(15px, 2.2vw, 30px);
}

.header__logo_wrapper {
  display: flex;
}

.logo {
  width: clamp(160px, 20vw, 259px);
  display: inline-block;
  object-fit: contain;
  align-self: center;
}

.nav_wrapper {
  display: flex;
}

.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.list__item {
  margin-right: clamp(10px, 1.4vw, 20px);
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border 0.3s ease;
}

.list__item:hover {
  border-color: var(--color-red);
}

.nav__link,
.sendAnEmailLink,
.portfolioLink,
.resumeLink {
  display: inline-block;
  padding: 5px;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
}

.sendAnEmailLink_wrapper {
  display: flex;
  font-style: normal;
}

.sendAnEmailLink {
  border: 2px solid var(--color-red);
  border-radius: 20px;
  transition: background-color 0.3s ease;
  align-self: center;
}

.sendAnEmailLink:hover {
  background-color: var(--color-red);
}

/* Выпадающее меню навигации по сайту в мобильной версии */
.dropdown_wrapper {
  display: none;
}

.dropdown_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0.5rem;
  border: 2px solid var(--color-red);
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.1) 0px 6px 10px 0px,
    rgba(255, 0, 0, 0.1) 0px 0px 0px 1px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  z-index: -1;
  width: 100%;
  border: 2px solid var(--color-red);
  border-radius: 10px;
  box-shadow: rgba(255, 0, 0, 0.1) 0px 6px 10px 0px,
    rgba(255, 0, 0, 0.1) 0px 0px 0px 1px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.3s cubic-bezier(0.16, 1, 0.5, 1);
  margin: 0.25rem auto 0;
  background-image: var(---bg-red-blue-gradient);
}

.dropdown .dropdown__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--color-white);
  justify-content: space-between;
  text-transform: uppercase;
}

.dropdown a:hover {
  background-color: var(--color-red);
}

.dropdown a:hover .dropdown__icon {
  color: var(--color-white);
}

.dropdown .dropdown__link:last-of-type {
  border-top: 2px solid var(--color-red);
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
}
/* Конец выпадающего меню   */

@media (max-width: 780px) {
  .header__wrapper {
    justify-content: normal;
    flex-direction: column;
    align-items: center;
  }

  .nav_wrapper {
    margin-top: 15px;
  }
}

@media (max-width: 580px) {
  .header__wrapper {
    padding-bottom: 50px;
  }

  .nav_wrapper {
    display: none;
  }

  .dropdown_wrapper {
    display: block;
    z-index: 1;
    position: absolute;
    top: 50px;
    width: calc(100% - 50px);
    max-width: 500px;
    font-size: var(--standart-font-size);
  }
}
