@import url(index.css);

/* Стили главной страницы*/
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: clamp(15px, 2.2vw, 30px);
}

.header__logo_wrapper {
  display: flex;
}

.logo {
  width: clamp(160px, 20vw, 259px);
  display: inline-block;
  object-fit: contain;
  align-self: center;
}

.nav_wrapper {
  display: flex;
}

.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.list__item {
  margin-right: clamp(10px, 1.4vw, 20px);
  border: 2px solid transparent;
  border-radius: 20px;
  transition: border 0.3s ease;
}

.list__item:hover {
  border-color: var(--color-red);
}

.nav__link,
.sendAnEmailLink,
.portfolioLink,
.resumeLink {
  display: inline-block;
  padding: 5px;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
}

.sendAnEmailLink_wrapper {
  display: flex;
  font-style: normal;
}

.sendAnEmailLink {
  border: 2px solid var(--color-red);
  border-radius: 20px;
  transition: background-color 0.3s ease;
  align-self: center;
}

.sendAnEmailLink:hover {
  background-color: var(--color-red);
}

.welcomeSection_wrapper {
  padding: 100px 0 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcomeSection {
  display: flex;
  flex-direction: column;
}

.welcomeSection__heading {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: clamp(16px, 2vw, 24px);
}

.welcomeSection__name {
  margin-top: clamp(15px, 2.2vw, 30px);
  line-height: 1.5em;
}

.strongText {
  font-size: clamp(26px, 3vw, 30px);
  line-height: 1.3em;
}

/* Способ сделать рамку с радиусом и border-image.
  Так как border-image не поддерживает совместную работу с border-radius */
/* ============================= */
.photo_wrapper {
  position: relative;
  width: fit-content;
}
.photo_wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 45px;
  /* толщина рамки */
  padding: clamp(5px, 1.2vw, 15px);
  /* цвет рамки */
  background: linear-gradient(135deg, var(--color-red), var(--color-blue));
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  opacity: 0.7;
}

.photo {
  display: block;
  width: clamp(250px, 36vw, 410px);
  border-radius: 45px;
}
/* ============================= */

.welcomeSection__links {
  margin-top: clamp(25px, 3.4vw, 40px);
  width: clamp(250px, 30vw, 300px);
  display: flex;
  justify-content: space-between;
}

.portfolioLink,
.resumeLink {
  border: 2px solid var(--color-red);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.portfolioLink:hover,
.resumeLink:hover {
  background-color: var(--color-red);
}

.socialMedia {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  justify-content: center;
}

.icon {
  display: block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-red);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  margin-bottom: clamp(15px, 2.2vw, 30px);
}

@media (max-width: 1200px) {
  .container {
    margin: 0 32px;
  }

  .welcomeSection_wrapper {
    padding: 80px 0 130px;
  }
}

@media (max-width: 780px) {
  .container {
    margin: 0 16px;
  }

  .welcomeSection_wrapper {
    padding: 40px 0 80px;
  }

  .header__wrapper {
    justify-content: normal;
    flex-direction: column;
    align-items: center;
  }

  .nav_wrapper {
    margin-top: 15px;
  }
}

@media (max-width: 580px) {
  .welcomeSection_wrapper {
    justify-content: normal;
    flex-direction: column;
    align-items: center;
  }

  .welcomeSection {
    align-items: center;
    text-align: center;
  }

  .photo_wrapper {
    margin-top: 50px;
  }

  .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
